<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div id="about">
        <div id="heading">
            <h1>about</h1>
            <h1>Blake</h1>
        </div>
        <div id="imgg">

            <div id="imgscroll">

                <img src="https://images.pexels.com/photos/8985533/pexels-photo-8985533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">


               
                  <img src="https://images.pexels.com/photos/7263747/pexels-photo-7263747.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">



                  <img src="https://images.pexels.com/photos/10762587/pexels-photo-10762587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
            </div>
          
        </div>

        <div id="text_container">
        <div id="text">
        
            <div id="left_text">
                <p>BLAKE.Co Photography</p>
            </div>
<div id="right_text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod cupiditate aut facilis modi, facere consequatur dolorem corrupti quae illum est nisi, perspiciatis quam animi ipsam quis reiciendis dolor veniam voluptatum? Provident ipsum fugit perferendis, culpa omnis voluptas architecto assumenda dolor, eligendi cumque iste, itaque odit quae aliquid nobis dignissimos dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, nobis? Vel quasi distinctio laudantium cum minus saepe officiis mollitia inventore.</p>
</div>
        </div>
    </div>

<div id="tag_container">

    <div id="tag">
<div id="left_tag"><img src="https://images.pexels.com/photos/11046597/pexels-photo-11046597.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""></div>
<div id="right_tag">
    <span>pictures to------<br> <span>Tell stories</span>
</div>
        
    </div>



</div>















 </div>
 <div id="middle_container">

    <div id="middle">
        <div id="middle_tag">
            <span>our company<br> <span>----values</span>
        </div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nostrum nemo qui perspiciatis laudantium reprehenderit voluptates, at quos ab voluptatum sunt laborum dolor impedit perferendis?</p>

<h4>work with us</h4>


<div id="imgg2">



    <div id="imgscroll2">

        <img src="https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">


       
          <img src="https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">



          <img src="https://images.pexels.com/photos/11950984/pexels-photo-11950984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    </div>
  
</div>

<div id="box_container">
    <div id="box">
<div id="one"><span>01</span> <h3>Passion for <br> precision</h3></div>
<div id="two"><span>03</span> <h3>Customer <br> Approch</h3></div>
<div id="three"><span>02</span> <h3>Creativity <br> Unleashed</h3></div>
<div id="four"><span>04</span> <h3>Timeless<br>Stories</h3></div>


    </div>
</div>


    </div>





</div>

<div id="last_container">
    <div id="last">
        <div id="about">
            <div id="middle_tag">
                <span>Meet our <br> <span>--creators</span>
                <hr>
            </div>

<div id="creators">
 <div> <h4>harsh kapoor</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, sint cumque perferendis vitae libero minus voluptate vero itaque rerum assumenda?</p>
    <img src="https://images.pexels.com/photos/1438081/pexels-photo-1438081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></div>
 <div> <h4>Akash Bhat</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, sint cumque perferendis vitae libero minus voluptate vero itaque rerum assumenda?</p>
    <img src="https://images.pexels.com/photos/3184405/pexels-photo-3184405.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></div>
    
 <div> <h4>Nitish Kashyap</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, sint cumque perferendis vitae libero minus voluptate vero itaque rerum assumenda?</p>
    <img src="https://images.pexels.com/photos/12671398/pexels-photo-12671398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
 </div>
    
 

</div>
<hr>
    </div>
</div>

<div id="footer_container">

    <div id="footer">
        <h3> remember <br> Wonderful <br> Memories with <br> blake.co</h3>

        <div id="imgg3">
            <img src="https://images.pexels.com/photos/3153201/pexels-photo-3153201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
            <img src="https://images.pexels.com/photos/2955376/pexels-photo-2955376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
        </div>
        
        <div id="number"><h5>01</h5> 
           
            <span>+1234567890</span></div>
            <hr>
        <div id="email"><h5>02</h5> <span>Contact@Blakephotography.com</span></div>
        <hr>
        <div id="address"><h5>03</h5> <span>1234 Natraj Nagar, Jaipur ,India</span></div>
<hr>
<input  type="email" placeholder="email@farmer.com"> <button>SignUp</button>

<div id="links">
    <a href="/about">About</a>
    <a href="/services">Services</a>
    <a href="/works">Works</a>
    <a href="/contact">Contact</a>
</div>

    </div>

</div>




    </div>
    

    
</div>


</div>
</body>
</html>