<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="work.css">
    <link rel="stylesheet" href="contact.css">

</head>
<body>
    
    <div id="about">
        <div id="heading">
            <h1>contact</h1>
            <h1>us</h1>
        </div>
    <div id="banner">
        <img src="https://images.pexels.com/photos/1252500/pexels-photo-1252500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
       
    </div>

    <div id="contact">

        <h3>keep in touch</h3>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ea qui exercitationem esse, ex quibusdam veritatis voluptates tempore adipisci, ducimus consectetur, minus temporibus? Vitae soluta nulla fuga quo reprehenderit praesentium?</span>
        <input  type="text" placeholder="name">
        <input type="email" placeholder="email">
        <input type="" placeholder="message">
        <button>Submit</button>
    </div>

    </div>



    <div id="footer_container">

        <div id="footer">
            <h3> remember <br> Wonderful <br> Memories with <br> blake.co</h3>
    
            <div id="imgg3">
                <img src="https://images.pexels.com/photos/3153201/pexels-photo-3153201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <img src="https://images.pexels.com/photos/2955376/pexels-photo-2955376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            </div>
            
            <div id="number"><h5>01</h5> 
               
                <span>+1234567890</span></div>
                <hr>
            <div id="email"><h5>02</h5> <span>Contact@Blakephotography.com</span></div>
            <hr>
            <div id="address"><h5>03</h5> <span>1234 Natraj Nagar, Jaipur ,India</span></div>
    <hr>
    <input  type="email" placeholder="email@farmer.com"> <button>SignUp</button>
    
    <div id="links">
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/works">Works</a>
        <a href="/contact">Contact</a>
    </div>
    
        </div>
    
    </div>
    
</body>
</html>