<!-- header file code -->
<%-include("includes/head.ejs")%>
<!-- header file code -->

<body>
  
        <!-- nav code file -->
 <%- include("includes/nav.ejs")
 %>
 <!-- nav code file -->
    <img src="https://images.pexels.com/photos/2072165/pexels-photo-2072165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
   
    <!-- footer file code -->
<%-include("includes/foot.ejs")%>
    <!-- footer file code -->
<script> var menu= document.querySelector("#menu")
    var show=document.querySelector("#show")
   
    show.addEventListener("click",function(){
       show.style.color="black"
       menu.style.display="block"
    })
   menu.addEventListener("click",function(){
       
       menu.style.display="none"
       show.style.color="black"
   })
   
   
   // cursor annimation
   
   // var body=document.querySelector("body")
   
   // var pointer=document.querySelector("#pointer")
   
   // body.addEventListener("mouseover",function(e){
   //     pointer.style.display="block"
   //  pointer.style.top=e.pageY +"px"
   // pointer.style.left=e.pageX +"px"
   // console.log(e)
       
   // })
   var colour=document.querySelector("#color")
   var picture=document.querySelectorAll("img")
    colour.addEventListener("click",function(){
       setTimeout(function(){
           for(picture of picture){
           picture.style.filter="none"
           console.log("timeout")
       }
       },100)
   
      
     
    })</script>
</body>
</html>