<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="work.css">
</head>
<body>

<div id="about">

    <div id="heading">
        <h1>Working</h1>
        <h1>Projects</h1>
    </div>
<div id="banner">
    <img src="https://images.pexels.com/photos/9705731/pexels-photo-9705731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
   
</div>
<hr>

<div class="project">

    <img src="https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    <div id="details">
        <div id="name"><h2>wedding of Daniel & Johanne</h2>
        <div id="caption">
            a romantic and joufull wedding celebration
        </div>
        </div>
        
        <div id="date">08/15</div>
    </div>


</div>

<div class="project">

    <img src="https://images.pexels.com/photos/4173326/pexels-photo-4173326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    <div id="details">
        <div id="name"><h2>sk8rz products showcase</h2>
        <div id="caption">
          highlights product perfection through our models.
        </div>
        </div>
        
        <div id="date">04/19</div>
    </div>


</div>

<div class="project">

    <img src="https://images.pexels.com/photos/5257892/pexels-photo-5257892.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    <div id="details">
        <div id="name"><h2>Corporate life briliance</h2>
        <div id="caption">
       showcase corporate excellence during daily work.
        </div>
        </div>
        
        <div id="date">05/24</div>
    </div>


</div>



    
</div>



    <div id="footer_container">

        <div id="footer">
            <h3> remember <br> Wonderful <br> Memories with <br> blake.co</h3>
    
            <div id="imgg3">
                <img src="https://images.pexels.com/photos/3153201/pexels-photo-3153201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                <img src="https://images.pexels.com/photos/2955376/pexels-photo-2955376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            </div>
            
            <div id="number"><h5>01</h5> 
               
                <span>+1234567890</span></div>
                <hr>
            <div id="email"><h5>02</h5> <span>Contact@Blakephotography.com</span></div>
            <hr>
            <div id="address"><h5>03</h5> <span>1234 Natraj Nagar, Jaipur ,India</span></div>
    <hr>
    <input  type="email" placeholder="email@farmer.com"> <button>SignUp</button>
    
    <div id="links">
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/works">Works</a>
        <a href="/contact">Contact</a>
    </div>
    
        </div>
    
    </div>
    
</body>
</html>