:root{
    --color-1:#5818b8;
    --color-2:#2a9a9f;
    --color-3:#f98d00;
    --color-5:#20948B;
    --color-4:#6ab187;
  }
  
#menu{z-index: 17;
    display: flex;
    flex-direction: column;
    padding: 2vw 0;
    padding-left: 2vw;
    align-items: center;
    position: absolute;
    background-color: black;
    width: 20%;
    height: 90vh;
    display: block;
    color:white;
    border-radius: 20px;
    display: none;
    transition: all ease-in 0.5s;
  
}
#color{ color: transparent;
    transform: rotate(-90deg);
    position: fixed;
    top:50vh;
    left:-4vw;
    z-index: 14;
    background:linear-gradient(blue,red, blue
        );
        -webkit-background-clip:text;
}
@media(max-width:600px) {
   #color{
    top:50vh;
    left:-12vw;
   }
 
    
}


#remove{ color: transparent;
    transform: rotate(-90deg);
    position: fixed;
    top:50%;
    right: -3vw;
    z-index: 14;
    background:linear-gradient(blue,red, blue
        );
        -webkit-background-clip:text;
}
#menu span{text-transform: capitalize;
    border :1px solid white;
    padding: 1px 5px;
    border-radius: 50%;
    color: gray;
    font-size: 2vw;
}


#menu a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}
#menu li{
    padding: 2vw 0;
    list-style: none;
}
#show{position: absolute;
    text-decoration: underline;
   
  font-size: small;
    text-transform: capitalize;
    padding: 2px;
 color: black;
    width: min-content;
    border-radius: 2px;
  
}


#heading{ width: 100%;
    display:flex;
     color: rgb(0, 0, 0);
     text-transform: uppercase;
     justify-content: space-between;
     font-size:small;
  }



#heading a{text-decoration: none;
color: black;
font-size: small;
text-transform: capitalize;
text-decoration: underline;
position: absolute;
right: 0;
}

@media(max-width:600px){
  #heading a{
    font-size: large;
  }
  #show{
    font-size: large;
   
    
  }
}
